body{
    font-family: montserrat;
}




/* title section */

#title{

    background-color: #ff4c68;
    color:white;
}

h1{

    font-family: "montserrat ";
    font-size: 3rem;
    font-weight: bold;
  

}

.container-fluid{
    padding:3% 15%;
    padding-bottom: 7%;
}



/* navigation bar */

.navbar{
    padding-bottom: 4rem;
}


.navbar-brand{

    font-family:ubuntu;
    font-size: 2.5rem;

}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-family: montserrat;
    font-size: 1.2rem;
}



/* download buttons */


.downloadbutton{
        margin:  5% 3% 5% 0%;
}


/* img section */

.title-image{
    width: 400px;
    height: 500px;
    transform: rotate(25deg);
    position: absolute;
    left: 60%;
   
}




/* feature section  */

#features{

    padding:  05% 5%;


    position: relative;
   
    
    background-color: white;
  

}
.featurecontainer {

    padding:  7% 10%;
     
     

}
.featurediv{
    text-align: center;
     
}

.mainfeatures{
    font-family: montserrat-bold;
    font-weight: bold;
     
}

.featureicon{
 
 color: #f00000;



}
.featureicon:hover{
    color: #ef8172;
}

.featuredescription{
    font-family: montserrat ;
    color: #8f8f8f;
}



/* testimonial section */

#testimonials{
    padding:7% 10%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}


.testimg{
    width: 10%;
    border-radius: 100%;
    margin:20px ;
}




/* footer  */

#cta{

text-align: center;
background-color:#ff4c68;
height: 300px;
}

.ctainside{
    padding:8% 0%;
}


#footer{
    height:200px;

}
.socialac{
    padding-top: 100px;
}

.sic{
    margin: 10px;
}



.footertext{
    font-family: montserrat;
    color: white;
    font-weight: bold;
}


@media(max-width:1200px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}










/* press section  */


#press{

    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
     
}

.imgs{
    width:15%;
    margin: 20px 20px;
}





/* Pricing section  */

#pricing{
    padding: 3%;
    text-align: center;
}

.colprice{
    padding:3% 2%;
}